{% extends "./public/layout.html" %}

{% block layout %}

{% if list.length %}

<table class="table">
  <tr>
    <th>缩略图</th>
    <th>商品名</th>
    <th>数量</th>
    <th>价格</th>
  </tr>

  {% for item in list %}
  <tr>
    <td>
      <img src="{{item.goods_img }}" alt="" width="50">
    </td>
    <td>{{ item.title }}</td>
    <td>{{ item.num }}</td>
    <td>{{ item.shop_price }}</td>
  </tr>
  {% endfor %}
</table>
<button class="btn btn-danger">去结算</button>

{% else %}

<h3>购物车空空如也</h3>

<button class="btn btn-danger"><a href="/">去逛逛</a></button>

{% endif %}
{% endblock %}
