{% extends "../public/layout.html" %}

{% block script %}
<script>
  $(function () {
    $('#attr_value').hide()
    $('input[name="attr_type"]').change(function () {
      if ($(this).val() === '3') {
        $('#attr_value').show()
      } else {
        $('#attr_value').hide()
      }
    })
  })

</script>
{% endblock %}

{% block layout %}

<form action="/admin/goodsTypeAttr/doAdd" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">新增商品类型属性</div>
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <div class="main-input">
        <span>名称</span>
        <input type="text" name="title" class="form-control">
      </div>

      <div class="main-input">
        <span>类型</span>
        <select name="cate_id">
          {% for item in goods_types %}
          <option value="{{item._id}}" {{helper.selected(item._id, cate_id)}}>
            {{ item.title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="main-input">
        <span>录入方式</span>
        {% for key, val in fieldType %}
        <input type="radio" name="attr_type" value="{{ key }}">{{ val }}</input>
        {% endfor %}
      </div>

      <div class="main-input" id="attr_value">
        <span>下拉框可选值</span>
        <textarea name="attr_value" placeholder="每行代表一个可选值" rows="5" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
