{% extends "../public/layout.html" %}

{% block layout %}
<div class="panel panel-default">
  <div class="panel-heading">
    商品管理
    <button class="btn"><a href="/admin/goods/add">新增</a></button>
  </div>
  <table class="table">
    <tr>
      <th>商品名称</th>
      <th>货号</th>
      <th>价格</th>
      <th>点击量</th>
      <th>上架</th>
      <th>精品</th>
      <th>新品</th>
      <th>热销</th>
      <th>排序</th>
      <th>库存</th>
      <th>操作</th>
    </tr>
    {% for item in list %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.goods_sn }}</td>
      <td>{{ item.shop_price }}</td>
      <td>{{ item.click_conut}}</td>
      {% if item.status == 1 %}
      <td>
        <span class="glyphicon glyphicon-ok" onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 0)"></span>
      </td>
      {% else %}
      <td>
        <span class="glyphicon glyphicon-remove"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 1)"></span>
      </td>
      {% endif %}
      {% if item.is_best == 1 %}
      <td>
        <span class="glyphicon glyphicon-ok"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 0, 'is_best')"></span>
      </td>
      {% else %}
      <td>
        <span class="glyphicon glyphicon-remove"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 1, 'is_best')"></span>
      </td>
      {% endif %}

      {% if item.is_new == 1 %}
      <td>
        <span class="glyphicon glyphicon-ok"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 0, 'is_new')"></span>
      </td>
      {% else %}
      <td>
        <span class="glyphicon glyphicon-remove"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 1, 'is_new')"></span>
      </td>
      {% endif %}

      {% if item.is_hot == 1 %}
      <td>
        <span class="glyphicon glyphicon-ok"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 0, 'is_hot')"></span>
      </td>
      {% else %}
      <td>
        <span class="glyphicon glyphicon-remove"
          onclick="handleChangeStatus(this, 'Goods', '{{ item._id }}', 1, 'is_hot')"></span>
      </td>
      {% endif %}

      <td>{{ item.sort }}</td>
      <td>{{ item.goods_number }}</td>

      <td>
        <a href="/admin/goods/edit?id={{item._id}}">修改</a>　
        <a href="/admin/delete?id={{item._id}}&model=Goods" id="delete">删除</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination">
    <!-- <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li> -->
    {% for item in helper.page(pagination.pages) %}
    <li class="{%if pagination.page == loop.index %}active{%endif%}"><a
        href="/admin/goods?page={{loop.index}}">{{ loop.index }}</a></li>
    {% endfor %}
    <!-- <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li> -->
  </ul>
</nav>
{% endblock %}
