<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台管理</title>
  <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/admin/css/main.css">
</head>

<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>欢迎您， {{ userinfo.username }}</a>
          </li>
          <li><a href="/admin/logout">安全退出</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="layout">

    <aside class="aside">
      <div class="list-group">
        {% for menu in menus %}
        {% if menu.checked or userinfo.is_super %}
        <a href="{{menu.url}}" class="list-group-item disabled">{{ menu.module_name }}</a>
        {% endif %}
        {% for item in menu.items %}
        {% if (item.checked or userinfo.is_super) and item.type !== 3 %}
        <a href="{{ item.url }}" class="list-group-item">
          {{ item.action_name }}
        </a>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </aside>

    <section class="content">
      {% block layout %}

      {% endblock %}
    </section>
  </div>
</body>

</html>
