{% extends "../public/layout.html" %}

{% block layout %}
<form action="/admin/role/doAdd" method="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">

      <div class="main-input">
        <span>角色名称</span>
        <input type="text" name="title" class="form-control">
      </div>


      <div class="main-input">
        <span>角色描述</span>
        <textarea name="description" rows="3" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>

{% endblock %}
