{% extends "../public/layout.html" %}

{% block layout %}

<form action="/admin/manager/doEdit" method="post">
  <div class="panel-heading">编辑管理员</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="id" value="{{one._id}}">
      <div class="main-input">
        <span>管理员用户名</span>
        <input type="text" name="username" class="form-control" value="{{one.username}}">
      </div>

      <div class="main-input">
        <span>管理员密码</span>
        <input type="password" name="password" class="form-control">
      </div>


      <div class="main-input">
        <span>管理员电话</span>
        <input type="text" name="mobile" class="form-control" value="{{one.mobile}}">
      </div>


      <div class="main-input">
        <span>管理员邮箱</span>
        <input type="text" name="email" class="form-control" value="{{one.email}}">
      </div>

      <div class="main-input">
        <span>管理员角色</span>
        <select name="role_id">
          {% for item in roles %}
          {% if item._id.toString() === one.role_id.toString() %}
          <option value="{{item._id}}" selected>
            {{ item.title }}
          </option>
          {% else %}
          <option value="{{item._id}}">
            {{ item.title }}
          </option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
