{% extends "../public/layout.html" %}

{% block layout %}

<form action="/admin/manager/doEdit" method="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">

      <div class="main-input">
        <span>管理员用户名</span>
        <input type="text" name="username" class="form-control" value="{{manager.username}}">
      </div>

      <div class="main-input">
        <span>管理员密码</span>
        <input type="password" name="password" class="form-control">
      </div>


      <div class="main-input">
        <span>管理员电话</span>
        <input type="text" name="mobile" class="form-control" value="{{manager.mobile}}">
      </div>


      <div class="main-input">
        <span>管理员邮箱</span>
        <input type="text" name="email" class="form-control" value="{{manager.email}}">
      </div>

      <div class="main-input">
        <span>管理员角色</span>
        {% for item in roles %}
        <select name="role_id">
          <option value="{{item._id}}" selected="{{ manager.role_id}}">{{ item.title }}</option>
        </select>
        {% endfor %}
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
