.login {
  width: 350px;
  margin: 100px auto;
}

.login input {
  margin-bottom: 20px;
}

.login .input-group-addon {
  padding: 0
}

.layout {
  display: flex;
  padding: 20px;
}

.layout .aside {
  width: 250px;
  margin-right: 20px;
}

.layout .content {
  flex: 1;
}

.main-input {
  margin-bottom: 20px;
}

.main-input span {
  display: block;
}

.admin-logo {
  font-size: 20px;
  color: #666;
  line-height: 50px;
  text-decoration: none;
}

.admin-logo:hover {
  color: #fff;
  text-decoration: none;
}

/* reset */

.navbar {
  border-radius: 0;
}
