{% extends "../public/layout.html" %}

{% block layout %}

<form action="/admin/access/doEdit" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">编辑权限</div>
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="id" value="{{one._id}}">

      <div class="main-input">
        <span>所属模块</span>
        <select name="module_id">
          {% for item in modules %}
          <option value="{{item._id}}" {{helper.selected(item._id, one.module_id)}}>{{ item.module_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="main-input">
        <span>节点类型</span>
        <select name="type">
          <option value="1" {% if one.type === 1 %}selected{% endif %}>模块</option>
          <option value="2" {% if one.type === 2 %}selected{% endif %}>菜单</option>
          <option value="3" {% if one.type === 3 %}selected{% endif %}>操作</option>
        </select>
      </div>
      <div class="main-input">
        <span>模块名称</span>
        <input type="text" value="{{one.module_name}}" name="module_name" class="form-control">
      </div>


      <div class="main-input">
        <span>操作名称</span>
        <input type="text" name="action_name" value="{{one.action_name}}" class="form-control">
      </div>


      <div class="main-input">
        <span>操作地址</span>
        <input type="text" name="url" value="{{one.url}}" class="form-control">
      </div>


      <div class="main-input">
        <span>排序</span>
        <input type="text" name="sort" value="{{one.sort}}" class="form-control">
      </div>

      <div class="main-input">
        <span>权限描述</span>
        <textarea type="text" name="description" class="form-control">{{one.description}}</textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
