{% extends "../public/layout.html" %}

{% block layout %}

<form action="/admin/access/doEdit" method="post">
  <div class="panel panel-default">
    <div class="panel-heading">编辑权限</div>
    <div class="panel-body">
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="id" value="{{access._id}}">

      <div class="main-input">
        <span>所属模块</span>
        <select name="module_id">
          {% for item in modules %}
          {% if item._id.toString() === access.module_id.toString() %}
          <option value="{{item._id}}" selected>{{ item.module_name }}</option>
          {% else %}
          <option value="{{item._id}}">{{ item.module_name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="main-input">
        <span>节点类型</span>
        <select name="type">
          <option value="1" {% if access.type === 1 %}selected{% endif %}>模块</option>
          <option value="2" {% if access.type === 2 %}selected{% endif %}>菜单</option>
          <option value="3" {% if access.type === 3 %}selected{% endif %}>操作</option>
        </select>
      </div>
      <div class="main-input">
        <span>模块名称</span>
        <input type="text" value="{{access.module_name}}" name="module_name" class="form-control">
      </div>


      <div class="main-input">
        <span>操作名称</span>
        <input type="text" name="action_name" value="{{access.action_name}}" class="form-control">
      </div>


      <div class="main-input">
        <span>操作地址</span>
        <input type="text" name="url" value="{{access.url}}" class="form-control">
      </div>


      <div class="main-input">
        <span>排序</span>
        <input type="text" name="sort" value="{{access.sort}}" class="form-control">
      </div>

      <div class="main-input">
        <span>权限描述</span>
        <textarea type="text" name="description" class="form-control">{{access.description}}</textarea>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
